# Oracle
SOURCE_DB_DRIVER=oracle
SOURCE_DB_USER=demo_source
SOURCE_DB_PASSWORD=yourpassword
SOURCE_DB_DSN=localhost/orclpdb

TARGET_DB_DRIVER=oracle
TARGET_DB_USER=demo_target
TARGET_DB_PASSWORD=yourpassword
TARGET_DB_DSN=localhost/orclpdb

# PostgreSQL
# SOURCE_DB_DRIVER=postgresql
# SOURCE_DB_HOST=localhost
# SOURCE_DB_PORT=5432
# SOURCE_DB_NAME=demo_source
# SOURCE_DB_USER=demo_source
# SOURCE_DB_PASSWORD=yourpassword

# TARGET_DB_DRIVER=postgresql
# TARGET_DB_HOST=localhost
# TARGET_DB_PORT=5432
# TARGET_DB_NAME=demo_target
# TARGET_DB_USER=demo_target
# TARGET_DB_PASSWORD=yourpassword

# SQL Server
# SOURCE_DB_DRIVER=ODBC Driver 17 for SQL Server
# SOURCE_DB_SERVER=localhost
# SOURCE_DB_NAME=demo_source
# SOURCE_DB_USER=sa
# SOURCE_DB_PASSWORD=yourpassword
