# Oracle
SOURCE_DB_DRIVER=oracle
SOURCE_DB_USER=demo_source
SOURCE_DB_PASSWORD=yourpassword
SOURCE_DB_DSN=localhost/orclpdb

TARGET_DB_DRIVER=oracle
TARGET_DB_USER=demo_target
TARGET_DB_PASSWORD=yourpassword
TARGET_DB_DSN=localhost/orclpdb

# SQL Server (alternative)
# SOURCE_DB_DRIVER=ODBC Driver 17 for SQL Server
# SOURCE_DB_SERVER=localhost
# SOURCE_DB_NAME=demo_source
# SOURCE_DB_USER=sa
# SOURCE_DB_PASSWORD=yourpassword
